################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DockerDemoHelloWorld/.vs/DockerDemoHelloWorld/v15
/.vs
/DockerDemoHelloWorld/obj
/DockerDemoHelloWorld/DockerDemoHelloWorld/bin
/DockerDemoHelloWorld/DockerDemoHelloWorld/obj
