<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3f4b1df0-5d35-4ac1-a042-6a2eccf5bf1a/resourcegroups/Api-Default-Southeast-Asia/providers/Microsoft.ContainerRegistry/registries/DockerDemoHelloWorld20180525020257</ResourceId>
    <ResourceName>DockerDemoHelloWorld20180525020257</ResourceName>
    <ResourceGroup>Api-Default-Southeast-Asia</ResourceGroup>
    <Subscription>Visual Studio Ultimate with MSDN</Subscription>
    <RegistryUrl>https://dockerdemohelloworld20180525020257.azurecr.io/</RegistryUrl>
    <UserName>DockerDemoHelloWorld20180525020257</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>86542ea6-2974-4523-8cda-bc44bd854ec7</ProjectGuid>
  </PropertyGroup>
</Project>